@model ToyotaProject.Models.MyModels.ColorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ColorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
